/* Variables */
/* Normalize */
* {
  box-sizing: border-box; }

body {
  margin: 0; }

h1,
h2 {
  font-weight: inherit;
  margin: 0; }

input {
  font-family: inherit;
  border: none; }

ul {
  list-style-type: none;
  padding-left: 0; }

/* Mixin(s) */
*:focus {
  outline: 1px dashed #804d46;
  outline-offset: 0.4em; }

body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  background: #fff url("../img/planet.png") top left/100% no-repeat;
  overflow: hidden; }

h1 {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  font-size: 1.4rem; }

h2 {
  font-size: 2.4rem; }

.container {
  background-color: #a76158;
  position: absolute;
  margin-top: 54%;
  width: 100vw;
  height: 100vh;
  padding: 2em; }

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
  margin-top: 1.25em;
  border-radius: 4px; }

.dropdown {
  position: relative;
  width: 100%; }

.search-results {
  position: absolute;
  width: inherit;
  margin-top: -2px; }
  .search-results li {
    display: block;
    position: relative;
    background-color: #fff;
    color: #000;
    border-top: 1px solid #f3ecf3;
    padding: 0.5em;
    cursor: pointer;
    transition: background-color ease-in-out 0.15s; }
    .search-results li:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    .search-results li:hover {
      background-color: #f8e7e2; }
    .search-results li:active {
      background-color: #fff;
      outline: 0; }
    .search-results li:focus {
      z-index: 1; }

.reserve-space {
  height: 1.3em; }

.no-results,
.instructions {
  text-align: left; }

.hidden {
  display: none; }

@media screen and (min-width: 1024px) {
  .container {
    left: 10vw;
    top: 54vh;
    margin-top: 0;
    width: auto;
    height: auto;
    padding: 4em 4em 1.75em 4em; } }
